<div class="container-fluid container full-screen">
  <div class="row">
    <div class="col text-center">
      <h1>Tennessee COVID-19 Statistics</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="county-select">Select a County</label>
      <input id="county-select"
             type="text"
             class="form-control"
             [(ngModel)]="selectedCounty"
             [ngbTypeahead]="searchCounties"
             (focus)="focus$.next($any($event).target.value)"
             (click)="click$.next($any($event).target.value)"
             #countySelect="ngbTypeahead"
             (selectItem)="handleSelectedCounty($event)"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6" *ngIf="cases">
      <tn-covid-bar-chart [chartData]="cases">
      </tn-covid-bar-chart>
    </div>
    <div class="col-md-12 col-lg-6" *ngIf="activeCases">
      <tn-covid-bar-chart [chartData]="activeCases">
      </tn-covid-bar-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6" *ngIf="recoveries">
      <tn-covid-bar-chart [chartData]="recoveries">
      </tn-covid-bar-chart>
    </div>
    <div class="col-md-12 col-lg-6" *ngIf="deaths">
      <tn-covid-bar-chart [chartData]="deaths">
      </tn-covid-bar-chart>
    </div>
  </div>
</div>
