<div class="container-fluid container full-screen">
  <div class="row">
    <div class="col text-center">
      <h1>Tennessee COVID-19 Statistics</h1>
    </div>
  </div>
  <div class="row">
    <div class="col my-2">
      <input id="county-select"
             type="text"
             class="form-control"
             placeholder="Type a County Name"
             [(ngModel)]="selectedCounty"
             [ngbTypeahead]="searchCounties"
             (focus)="focus$.next($any($event).target.value)"
             (click)="click$.next($any($event).target.value)"
             #countySelect="ngbTypeahead"
             (selectItem)="handleSelectedCounty($event)"/>
    </div>
    <div class="col-md-12 col-lg-2 my-2" *ngIf="selectedCounty !== ''">
      <button class="btn btn-primary btn-block" (click)="clearCounty()">Clear</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6" *ngIf="cases">
      <tn-covid-bar-chart [chartData]="cases">
      </tn-covid-bar-chart>
    </div>
    <div class="col-md-12 col-lg-6" *ngIf="activeCases">
      <tn-covid-bar-chart [chartData]="activeCases">
      </tn-covid-bar-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6" *ngIf="recoveries">
      <tn-covid-bar-chart [chartData]="recoveries">
      </tn-covid-bar-chart>
    </div>
    <div class="col-md-12 col-lg-6" *ngIf="deaths">
      <tn-covid-bar-chart [chartData]="deaths">
      </tn-covid-bar-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6" *ngIf="hospitalizations">
      <tn-covid-bar-chart [chartData]="hospitalizations">
      </tn-covid-bar-chart>
    </div>
    <div class="col-md-12 col-lg-6" *ngIf="tests">
      <tn-covid-bar-chart [chartData]="tests">
      </tn-covid-bar-chart>
    </div>
  </div>
  <div class="row pt-2" *ngIf="activeCases">
    <div class="col text-center">
      data from
      <a href="https://www.tn.gov/health/cedep/ncov/data/downloadable-datasets.html">
        the Tennessee Department of Health
      </a>
    </div>
  </div>
  <div clas="row pt-2" *ngIf="activeCases">
    <div class="col text-center">
      check out the project on <a href="https://github.com/josephtaylor/tennessee-covid-19">GitHub</a>.
    </div>
  </div>
</div>
